<nb-layout windowMode>
  <nb-layout-header fixed>
    <div class="d-flex justify-content-between vw-100">
      <h1 class="h5">Amplify Cognito Custom UI</h1>
      <nb-user *ngIf="authService.user; else guest" [name]="authService.user.attributes?.name" size="medium"
        [picture]="authService.user.attributes.picture"></nb-user>
      <ng-template #guest>
        <nb-user name="Guest" size="medium"></nb-user>
      </ng-template>
    </div>
  </nb-layout-header>
  <nb-sidebar left tag="menu-sidebar" state="expanded">
    <nb-menu [items]="menuItems">
    </nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>